			<!-- 侧边菜单 -->
			<div class="layui-side layui-side-menu">
				<div class="layui-side-scroll">
					<div class="layui-logo" lay-href="">
						<span>苏宁发票管理平台</span>
					</div>
			
					<ul class="layui-nav layui-nav-tree" lay-shrink="all" lay-filter="menu">
						<li data-name="component" class="layui-nav-item  layui-nav-itemed"" > 
							<a href="javascript:;" lay-tips="机器配置" lay-direction="2"> 
								<i class="layui-icon layui-icon-component"></i> 
								<cite>机器配置</cite>
							</a>
							<dl class="layui-nav-child">
								<dd data-name="grid" class="layui-nav-itemed">
									<a href="javascript:;">税盘配置</a>
									<dl class="layui-nav-child">
										<dd class="layui-this">
											<a lay-href="${base!}/taxMachine/init.htm"  layui-breadcrumb="首页,机器配置,税盘配置">税盘信息</a>
										</dd>
										<dd>
											<a lay-href="${base!}/invServer/init.htm"  layui-breadcrumb="首页,机器配置,机器信息">机器信息</a>
										</dd>
									</dl>
								</dd>
								<dd>
									<a lay-href="">机器人信息</a>
									<dl class="layui-nav-child">
										<dd>
											<a lay-href="${base!}/robotParam/initProcess.htm"  layui-breadcrumb="首页,机器配置,机器人信息">流程信息</a>
										</dd>
										<dd>
											<a lay-href="${base!}/robotParam/initRobot.htm"  layui-breadcrumb="首页,机器配置,机器人信息">机器人信息</a>
										</dd>
									</dl>
								</dd>
							</dl>
							
						</li>
			
						<li data-name="user" class="layui-nav-item">
							<a href="javascript:;" lay-tips="用户" lay-direction="2"> 
								<i class="layui-icon layui-icon-user"></i> 
								<cite>用户</cite>
							</a>
							<dl class="layui-nav-child">
								<dd>
									<a lay-href="">用户管理</a>
								</dd>
								<dd>
									<a lay-href="">后台管理员</a>
								</dd>
								<dd>
									<a lay-href="">角色管理</a>
								</dd>
							</dl></li>
						<li data-name="set" class="layui-nav-item">
							<a href="javascript:;" lay-tips="设置" lay-direction="2"> 
								<i class="layui-icon layui-icon-set"></i> 
								<cite>设置</cite>
							</a>
							<dl class="layui-nav-child">
								<dd class="layui-nav-itemed">
									<a href="javascript:;">系统设置</a>
									<dl class="layui-nav-child">
										<dd>
											<a lay-href="${base!}/thirdConfig/init.htm"  layui-breadcrumb="首页,系统设置,配置信息">配置信息</a>
										</dd>
										<dd>
											<a lay-href="set/system/website.html">邮件、短信服务</a>
										</dd>
									</dl>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
			<script type="text/javascript" src="${resRoot}/js/menu.js"></script>